<tr class="records">
  <td><%= position.localized.date_acquired %></td>
  <td><%= link_to position.symbol, position_path(position.id.to_i) %></td>
  <td><%= Company.find_by_symbol(position.symbol).name %></td>

  <td><%= position.shares %></td>
  <td><%= number_to_currency position.cost_per_share %></td>
  <td><%= number_to_currency position.position_cost %></td>
  
  <td><%= number_to_currency position.price %></td>
  <td><%= number_to_currency position.market_value %></td>
  <td class="<%= updown(position.unrealized_gains) %>"><%= number_to_currency position.unrealized_gains %></td>

  <td class="<%= updown(position.cumulative_dividends) %>"><%= number_to_currency position.cumulative_dividends %></td>
  <td class="<%= updown(position.profit) %>"><%= number_to_currency position.profit %></td>
  <td class="<%= updown(position.profit) %>"><%= number_to_percentage position.profit_percentage, precision: 2 %></td>
</tr>