<% provide(:title, @position.symbol) %>

<%= link_to @position.portfolio.name, portfolio_path(@position.portfolio) %>

<div class="row">
  <div class="col-md-3">
    <%= @position.symbol %>
  </div>
  <div class="col-md-3">
    Shares <%= @position.shares %>
  </div>
  <div class="col-md-3">
    <%= @position.total_cost %>
  </div>
  <div class="col-md-3">
    <%= @position.date_acquired %>
  </div>
</div>

<div class="row-2">
  <table id="dividendHistory">
    <tr>
      <th>Date</th>
      <th>Dividend</th>
    </tr>
  </table>  
</div>