<% provide(:title, @portfolio.name) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="center" id="name"><%= @portfolio.name %></h1>
  </div>
</div>
<div class="datepicker"></div>
<div class="row">
  <div class="content col-md-12">
    <table id="quotes">
      <tr>
        <th>Date Acquired</th>
        <th>Symbol</th>
        <th>Company</th>

        <th>Shares</th>
        <th>Cost Per Share</th>
        <th>Total Cost</th>

        <th>Current Price Per Share</th>
        <th>Current Market Value</th>
        <th>Unrealized Gains and Losses</th>

        <th>Dividends Received on Lot</th>
        <th>Total Profit from Lot</th>
        <th>Total Profit from Lot (%)</th>
      </tr>
      <%= render @positions %>
      <%= render 'total' %>
    </table>
  </div>
</div>

<%= render partial: 'positions/form', locals: { position: @position, url: positions_path(@portfolio), remote: true } %>

<%= form_for @portfolio, remote: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.submit "Add Portfolio", class: "btn btn-large btn-primary" %>
<% end %>