<% provide(:title, @portfolio.name) %>

<div class="row">
  <div class="col-md-12">
    <h1 class="center"><%= @portfolio.name %></h1>
    <hr>
  </div>
</div>
<div class="datepicker"></div>
<div class="row">
  <div class="content col-md-12">
    <table id="quotes">
      <tr>
        <th>Date Acquired</th>
        <th>Symbol</th>
        <th>Company</th>

        <th>Shares</th>
        <th>Cost Per Share</th>
        <th>Total Cost</th>

        <th>Current Price Per Share</th>
        <th>Current Market Value</th>
        <th>Unrealized Gains and Losses</th>

        <th>Dividends Received on Lot</th>
        <th>Total Profit from Lot</th>
        <th>Total Profit from Lot (%)</th>
      </tr>
      <% @portfolio.positions.each_with_index do |p, index| %>
        <% break if index == @portfolio.positions.count %>
        <tr class="records">
          <td><%= p.date_acquired.strftime("%m/%d/%Y") %></td>
          <td><%= link_to p.symbol, position_path(p.id.to_i) %></td>
          <td><%= Company.find_by_symbol(p.symbol).name %></td>

          <td><%= p.shares %></td>
          <td><%= number_to_currency p.cost_per_share %></td>
          <td><%= number_to_currency tc = p.total_cost %></td>
          
          <td><%= number_to_currency @data[p.symbol][:price].to_f %></td>
          <td><%= number_to_currency mv = @data[p.symbol][:price].to_f * p.shares %></td>
          <td class="<%= updown(mv - tc) %>"><%= number_to_currency mv - tc %></td>

          <td><%= number_to_currency cum_div = p.get_cumulative_dividends %></td>
          <td class="<%= updown(profit = cum_div + mv - tc) %>"><%= number_to_currency profit %></td>
          <td class="<%= updown(profit) %>"><%= number_to_percentage profit / tc * 100, precision: 2 %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-3" id="addPosition">
      <%= render 'positions/new' %>
  </div>
</div>