<% provide(:title, @portfolio.name) %>

<div class="row">
  <div class="col-md-12">
    <h1 class="center"><%= @portfolio.name %></h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div id="addPosition">
      <%= form_for @new_position, url: positions_path(@portfolio) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        
        <%= f.label :date_acquired %>
        <%= f.text_field :date_acquired, id: 'datepicker' %>

        <%= f.label :ticker %>
        <%= f.text_field :ticker, id: 'check_ticker' %>
        <div class="field_with_errors message" id="ticker_error_message"></div>

        <%= f.label :quantity %>
        <%= f.text_field :quantity %>

        <%= f.label :cost_basis %>
        <%= f.text_field :cost_basis %>

        <%= f.submit "Add Position", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="content col-md-6">
    <table id="quotes">
      <tr>
        <th>Symbol</th>
        <th>Company</th>
        <th>Price</th>
        <th>Change</th>
        <th>EPS (TTM)</th>
      </tr>
      <% @portfolio.positions.each_with_index do |p, index| %>
        <% break if index == @portfolio.positions.count %>
        <tr>
          <td id="symbol-<%= index %>"><%= link_to p.ticker, position_path(p.id.to_i) %></td>
          <td id="name-<%= index %>"></td>
          <td id="price-<%= index %>"></td>
          <td id="change-<%= index %>"></td>
          <td id="EPS-<%= index %>"></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">
var YAHOO = {
  Finance: {
    SymbolSuggest: {}
  }
};

$("#check_ticker").autocomplete({
  source: function(request, response) {
    $.ajax({
      type: "GET",
      url: "http://autoc.finance.yahoo.com/autoc",
      dataType: "jsonp",  
      jsonp: "callback",
      jsonpCallback: "YAHOO.Finance.SymbolSuggest.ssCallback",
      data: {
        query: request.term
      },
      cache: true
    });
    YAHOO.Finance.SymbolSuggest.ssCallback = function(data) {
      response($.map(data.ResultSet.Result, function(item) {
        return {
          label: item.symbol + " " + item.name,
          value: item.symbol
        };
      }));
    };
  },
  minLength: 1,
  select: function(event, ui) {
    $("#check_ticker").val(ui.item.symbol);
  }
});

</script>